* {
    background-color: lightslategray;
}
body {
    font-family: 'Fira Sans', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }

  .inpValue {
    color: black;
}

.myContainer {
    margin: 2rem;
}

.prev-city{
    display: block;
}

#searchedCity{
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    padding: 10px;
}

.day-card {
    background: #38393a;
    border-radius: 6px;
    margin: 1em 0;
    padding: 1em;
    font-weight: 300;
    color: #fff;
    line-height: 2em;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    line-height: 0.5rem;
}

  